.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dogs {
  display: grid;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.error-box {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  text-align: center;
}

.error-message {
  font-size: 12px;
}

.matchCard {
  width: 30px;
}
